.nav-bar {
    display: flex;
    position: sticky;
    align-items: center;
    background: none !important;
    top: 0;
    z-index: 999;
    background-color: #0f172a !important;
    border-bottom: 1px solid rgb(52, 52, 52);

    .toggle-btn {   
        position: absolute;
        margin-left: 1rem;
        margin-top: 5px;

        button {
            cursor: pointer;
            background: none;
            border: none;
            font-size: 20px;
        }
    }

    .nav-center {
        margin-left: auto;
        padding: 17px 10px;
        display: flex;
        gap: 3rem;
        font-size: 17px;

        .link {
            text-decoration: none;
            border: none;
            &.active {
                border-bottom: 1px solid rgb(0, 162, 255);
            }
        }
    }
    
    .profile-btn {
        button {
            cursor: pointer;
            background: none;
            border: none;
            background-color: none;
        }
    }
    
    .nav-title {
        position: fixed;
        margin-left: 5.5rem;
        display: flex;
        align-items: center;

        img {
            margin-right: 5px;
            height: 30px;
            width: 30px;
        }
        
        span {
            color: #3a86ff;
        }
    }
    @media(max-width: 550px) {
        .nav-title {
            display: none;
        }
    }
}

