.profile {
    width: 250px;
    position: fixed;
    height: 250px;
    background-color: rgb(35, 35, 35);
    right: 0;
    transition: ease-in-out .2s;
    z-index: 1000;
    border-radius: 10px;
    margin-right: 10px;
    
    
    .toggle-btn {
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-end;
        background-color: black;
        border-radius: 5px;
        height: 40px;
        
        button {
            margin-right: 5px;
            border: none;
            background: none;
            font-size: 23px;
            cursor: pointer;

            &:hover {
                color: cyan;
            }
        }
    }

    .profile-links {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        padding: 8px;

        .logout-btn {
            display: flex;
            align-items: center;
            
            button {
                background: none;
                font-size: 15px;
                border: none;
                padding: 8px;
                cursor: pointer;
            }
        }

        a {
            border-radius: 10px;
            padding: 10px;
            &:hover {
                background-color: rgb(52, 52, 52);
            }
        }
    }
}

.closed {
    display: none;
}