.profile {
    width: 250px;
    position: fixed;
    height: 40vh;
    background-color: rgb(35, 35, 35);
    right: 0;
    transition: ease-in-out .2s;
    z-index: 1000;
    border-right: 1px solid rgb(97, 97, 97);
    border-radius: 10px;

    .toggle-btn {
        margin-bottom: 15px;
        button {
            background: none;
            border: none;
            padding: 5px;
            cursor: pointer;
        }
    }

    .profile-links {
        gap: 1.5rem;
        display: flex;
        flex-direction: column;
        padding: 8px;
    }
}

.open {
    transform: translateX(0);
}

.closed {
    transform: translateX(100%);
}