.profile {
    width: 250px;
    position: fixed;
    height: 250px;
    background: linear-gradient(90deg, rgb(25, 38, 52) 0%, rgb(40, 47, 72) 100%);
    right: 0;
    transition: ease-in-out .2s;
    z-index: 1000;
    margin-right: 8px;
    border: 1px solid rgb(74, 74, 74);
    border-top: none;
    border-radius: 0 0 10px 10px;

    .toggle-btn {
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-end;
        background: linear-gradient(120deg, rgb(62, 62, 62), rgb(14, 19, 48));
        height: 40px;
        
        button {
            margin-right: 5px;
            border: none;
            background: none;
            font-size: 23px;
            cursor: pointer;

            &:hover {
                color: cyan;
            }
        }
    }

    .profile-links {
        gap: 1.5rem;
        display: flex;
        flex-direction: column;
        padding: 8px;

        .logout-btn {
            display: flex;
            align-items: center;
            
            button {
                background: none;
                font-size: 15px;
                border: none;
                padding: 8px;
                cursor: pointer;
            }
        }

        a {
            border-radius: 10px;
            padding: 10px;
            &:hover {
                background-color: rgb(52, 52, 52);
            }
        }

        .guidelines {
            display: flex;
            align-items: center;

            button {
                cursor: pointer;
                font-size: 15px;
                background: none;
                border: none;
            }
        }
        .guidelines, .logout-btn {
            &:hover {
                color: red;
            }
        }
    }
}

.closed {
    display: none;
}