.sidebar {
    width: 250px;
    position: absolute;
    display: flex;
    height: 100vh;
    background-color: black;
    top: 0;
    transition: ease-in-out .2s;


    .toggle-btn {
        margin-bottom: 10px;

        button {
            background: none;
            border: none;
            font-size: 20px;
            color: white;
        }
    }

    .nav-center {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.open {
    transform: translateX(0);
}
.closed {
    transform: translateX(-100%);
}