.sidebar {
    width: 250px;
    position: fixed;
    height: 100vh;
    background-color: rgb(35, 35, 35);
    top: 0;
    transition: ease-in-out .2s;
    z-index: 1000;
    border-right: 1px solid rgb(97, 97, 97);

    .toggle-btn {
        margin: 10px;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;

        button {
            cursor: pointer;
            background: none;
            border: none;
            font-size: 20px;
            color: white;
            padding: 5px;
            display: flex;
            align-items: center;

            &:hover {
                background-color: rgb(0, 0, 0);
                border-radius: 10px;
            }
        }
    }

    .sidebar-links {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    footer {
        font-size: 15px;
        align-items: center;
        display: flex;
        position: fixed;
        bottom: 0;
        justify-content: center;
        padding: 10px;

        a {
            text-align: center;
        }

        img {
            margin-right: 5px;
            margin-top: 3px;
            width: 22px;
            height: 22px;
        }
    }
}

.open {
    transform: translateX(0);
}
.closed {
    transform: translateX(-100%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(2px); 
  z-index: 998; 
  transition: all 0.3s ease;
}
