* {
    color: white;
    text-decoration: none;
}

html, body {
    background-color: #0f172a;
    padding: 0;
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: rgb(34, 34, 34) transparent;
}